@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
body {
  width: 100%;
  margin: auto;
  background-color: #aa9e93;
}
h3 {
  text-align: center;
  font-size: XX-large;
  font-family: "Dancing Script", cursive;
  margin: 15px auto;
}
#back{
  height: 30px;
  width: 80%;
  margin: 10px auto;
}
#back > a{
  float: left;
  width: 40px;
  color: whitesmoke;
  margin-left: 10px;
}
#container {
  width: 80%;
  height: 100%;
  margin: auto;
  min-width: none;
}
#wrap{
  display: flex;
  justify-content: space-around;
}
#list{
  /*float: left;*/
  width: 40%;
  height: 420px;
  border: 1px solid gainsboro;
  overflow: scroll;
}
#map {
  border: 2px solid rgb(156, 156, 156);
  border-radius: 5px;
  margin: 0 auto;
  height: 420px;
  width: 60%;
}
#info{
  display: flex;
  padding: 3px;
}
#text{
  margin: 10px;
  margin-bottom: 0;
}
#text > a{
  text-decoration: none;
}
#listitem{
  width: 100%;
  display: block;
  float: left;
  border-bottom: 1px solid rgb(80, 80, 80);
}
#menu {
  margin: auto;
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
button > a {
  padding: 5px;
  text-decoration: none;
  color: whitesmoke;
}
button {
  background-color: rgb(104, 104, 104);
  margin: 10px auto;
  border: none;
  border-radius: 5px;
  width: 20%;
  height: 40px;
  font-weight: 700;
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  #back, #list, #menu, #container, #wrap{
    width: 100%;
  }
  #map{
    margin-top: 5px;
    width: 90%;
    height: 300px;
  }
  #wrap{
    display: block;
    margin-bottom: 100px;
  }
}